#articleImg {
    width: 100%;
}

.articleCard {
    max-width: 100%;
}

/* @media only screen and (max-width: 600px) {
    .articleCard {
        width: 600px;
    }
} */

.article-img {
    width: 100%;
    border-radius: 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    gap: 10px;
    margin: 20px;
    justify-items: center;
    width: 100vw;
    align-items: center;
}

.welcome-message {
    margin: 20px;
}

.home-image {
    font-size: 1.4rem;
}

.topic-card {
    border: 2px solid red;
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
}

.article-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    max-width: 100%;
}

@media (max-width: 800px) {
    .article-grid {
        grid-template-columns: 1fr;
    }
}
