.article-img {
        max-width: 80%;
        margin: 20px;
        justify-content: center;
}

.articleCard {
        max-width: 100%;
}

/* @media only screen and (max-width: 600px) {
    .articleCard {
        width: 600px;
    }
} */

.article-img {
        width: 100%;
        border-radius: 10px;
}

ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
}

.navbar {
        display: flex;
        gap: 10px;
        margin: 20px;
        justify-items: center;
        width: 100vw;
        align-items: center;
}

.welcome-message {
        margin: 20px;
}

.home-image {
        font-size: 1.4rem;
}

.topic-card {
        border: 2px solid red;
        border-radius: 8px;
        padding: 5px;
        margin: 10px;
}

.article-grid {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: masonry;
        gap: 1em;
        max-width: 100%;
        padding: 0;
        margin-top: 1em;
        width: 95%;
        justify-items: center;

        /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    max-width: 100%; */
}

@media (max-width: 800px) {
        .article-grid {
                grid-template-columns: 1fr;
        }
}

.comment-container {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        justify-items: start;
        margin-bottom: 2em;
        width: 100%;
}

.article-card {
        will-change: transform;
        transition: opacity 450ms ease;

        &:hover {
                opacity: 0.8;
                transition: opacity 125ms;
        }
}

.image-container {
        padding-bottom: 2em;
        img {
                border-radius: 1em;
        }
}

.card-header {
        display: flex;
        flex-direction: column;
        padding: 0.7rem 0 0 1rem;
        h2 {
                font-size: 1.2rem;

                @media screen and (max-width: 640px) {
                        font-size: 1.1rem;
                }

                @media screen and (max-width: 400px) {
                        font-size: 1rem;
                }
        }
}

.card-footer {
        position: absolute;
        bottom: 0;
        display: flex;
        width: 100%;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        gap: 1rem;
        @media screen and (max-width: 400px) {
                font-size: 0.9rem;
        }
}
