#articleImg {
    width: 100%;
}

.articleCard {
    width: 80%;
}

@media only screen and (max-width: 600px) {
    .articleCard {
        width: 600px;
    }
}

.no-bullets {
    list-style: none;
    padding: 17%;
}
